/*
 *  Created by: Dalthon
 */

@import "./App.scss";

$base-color: #1db954;
$light-color: #fafafa;
$dark-color: #192734; //hex -> #121212

/* Scrollbar styles */

$scrollbar_track_border: #d5d3d3;
$scrollbar_track_background: #ececec;
$scrollbar_thumb_background: #b1b1b4;

.App.darkTheme {
  $scrollbar_track_border: #24242b;
  $scrollbar_track_background: #191922;
  $scrollbar_thumb_background: #52525d;
}

/* scrollbar style */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-left: 1px solid $scrollbar_track_border;
  background-color: $scrollbar_track_background;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba($scrollbar_thumb_background, 0.8);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba($scrollbar_thumb_background, 1);
}

$theme-color: $light-color;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  font-family: "Lato", "Arial", "San serif";
  background-color: #fafafa;
}

.button-primary {
  background-color: $base-color;
  text-decoration: none;
  color: white;
  font-size: 16px;
  border: 0;
  border-radius: 45px;
  padding: 14px 66px;
  outline: none;
  cursor: pointer;
  letter-spacing: 0.08px;

  &:hover {
    background-color: rgba($base-color, 0.94);
  }
}

.title-section {
  font-size: 24px;
  // padding-left: 20px;
  padding: 0 7%;

  &::after {
    content: "";
    margin-top: 5px;
    display: block;
    width: 32px;
    height: 4px;
    border-radius: 4px;
    background-color: $base-color;
  }
}

.sub-title-section {
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
  margin: 15px 0;
}

// Modal style
.modal-content {
  display: none;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(119, 66, 66, 1) 100%
  );

  p {
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f9f9fb;
    color: white;
    margin-bottom: 30px;
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 20px 0;
  }
}

#modal {
  display: none;
}

#modal:checked ~ .modal-content {
  display: flex;
  transition-delay: 0.5s;
}

.modal-container {
  img {
    position: absolute;
    z-index: 100;
    right: 0;
    // top: 15px;
    // padding-right: 20px;
    top: 3%;
    right: 6%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: rgba(0, 0, 0, 1);
  }
}

.input-change-theme {
  position: absolute;
  top: 4%;
  left: 8%;
  z-index: 200;

  svg {
    cursor: pointer;
  }

  input {
    display: none;
  }
}

/*
        ===========================================================
                              Mobile version
        ===========================================================
*/

.header {
  height: 100vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(119, 66, 66, 1) 100%
  );
  text-align: center;

  .h-image {
    padding-top: 20vh;
    margin-bottom: 48px;

    img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
    }
  }
  .h-text {
    h1 {
      color: white;
      font-size: 20px;
    }

    p {
      // margin: 0;
      font-size: 16px;
      color: #cccccc;
    }
  }

  .h-button {
    margin-top: 35px;

    button {
      outline: rgba(0, 0, 0, 0);
    }
  }
}

.about {
  margin-top: 46px;

  .panel {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 46px;

    .panel-header {
      margin-top: 10px;
      display: flex;
      align-items: center;
      // padding-left: 20px;
      padding-left: 7%;

      .image-circle {
        width: 50px;
        height: 50px;

        img {
          border-radius: 50%;
          width: 50px;
          height: 50px;
        }
      }
      .name-text {
        padding-left: 20px;

        h4 {
          font-size: 14px;
          margin: 0;
          margin-bottom: 4px;
        }

        p {
          color: #999999;
          font-size: 12px;
          margin: 0;
        }
      }
    }
    .panel-img {
      margin-top: 10px;
      width: 100%;
      img {
        width: 100%;
      }
    }

    .panel-description {
      margin: 30px 0;
      padding: 7%;
      text-align: center;
      font-size: 14px;

      p {
        text-align: left;
        margin-bottom: 40px;
      }
      button {
        align-content: center;
      }
    }
  }
}

.abilities {
  padding: 50px 0;
  background-color: #fafafa;

  .a-container {
    margin-top: 46px;

    .a-c-logo-react-animated {
      text-align: center;

      .circles {
        width: 150px;
        height: 150px;
        margin: auto;
        margin-bottom: 8px;
      }

      cite {
        font-size: 10px;
        color: #999999;

        a {
          text-decoration: none;
          color: #999999;
        }
      }
    }

    .abilities-list {
      margin: 46px 0;

      .item {
        display: flex;
        align-items: center;
        // padding-left: 20px;
        padding: 0 7%;
        margin: 30px 0;

        .img {
          width: 62px;
          height: 62px;
          border: 1px solid #ccc;
          border-radius: 10px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
          }
        }

        p {
          padding-left: 20px;
          margin: 0;
          font-size: 16px;
        }
      }
    }
  }
}

.portafolio {
  padding: 50px 0 16px 0;

  .pf-list {
    // padding: 20px;
    padding: 7%;

    .pf-item {
      // border: 1px solid #ccc;
      box-shadow: 9px 9px 22px -8px rgba(0, 0, 0, 0.29);
      border-radius: 10px;
      margin: 30px 0;
      background-color: #fff;

      .pf-item-img {
        width: 100%;

        img {
          border-radius: 10px 10px 0 0;
          width: 100%;
        }
      }

      .pf-item-body {
        padding: 25px 20px 30px 20px;
        height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .pf-item-title {
          font-size: 16px;
          margin-bottom: 9px;
        }

        .pf-item-desc {
          font-size: 14px;
        }

        .pf-item-footer {
          padding-top: 25px;
          display: flex;
          justify-content: space-between;
          font-size: 12px;

          .pf-item-ft-category {
            display: flex;
            // align-items: center;
            // line-height: 16px;

            svg {
              fill: #000;
            }

            p {
              line-height: 17px;
              padding-left: 10px;
            }
          }

          a {
            text-decoration: none;
            color: $base-color;
          }
        }
      }
    }
  }

  .pf-design {
    // margin-top: 30px;

    &-container {
      width: 100%;
      padding: 0 7%;
      // margin-top: 30px;
      text-align: center;

      .pf-design-item {
        margin-top: 30px;

        img {
          width: 100%;
        }

        &-footer {
          margin: 10px 0;
          a {
            text-decoration: none;
            color: #000;
            font-weight: bold;
          }
        }
      }
    }
  }
}

// contacto mobile
.contacto {
  margin-top: 0;
  padding: 46px 0;
  background-color: #f9f9fb;

  .c-panel {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 46px;

    .c-p-header {
      margin-top: 10px;
      display: flex;
      align-items: center;
      // padding-left: 20px;
      padding: 0 7%;

      .image-circle {
        width: 50px;
        height: 50px;

        img {
          border-radius: 50%;
          width: 50px;
          height: 50px;
        }
      }

      .name-text {
        padding-left: 20px;

        h4 {
          font-size: 14px;
          margin: 0;
          margin-bottom: 4px;
        }

        p {
          font-size: 12px;
          margin: 0;
        }
      }
      .button-primary {
        display: none;
      }
    }
    .panel-img {
      margin-top: 10px;
      width: 100%;

      img {
        width: 100%;
      }
    }

    .c-p-redes {
      padding: 25px 0;
      margin-top: 10px;
      border-top: 1px solid #ccc;

      .red-item {
        margin: 20px 0;
        padding: 0 7%;
        display: flex;
        align-items: center;
        font-size: 14px;

        svg {
          path {
            fill: #000;
          }
        }

        p {
          display: inline;
          padding-left: 10px;

          a {
            color: #000;
            text-decoration: none;
          }
        }
      }
    }
  }
}

// footer mobile
.footer {
  padding: 46px 7% 0;
  background-color: #f0f4f7;

  .f-name {
    margin: 17px 0 68px 0;

    h4 {
      font-size: 20px;
      margin-bottom: 5px;
    }

    p {
      margin: 0;
      font-size: 14px;
    }
  }
  .f-about {
    p {
      font-size: 16px;
      margin-bottom: 36px;
      font-weight: bold;
    }

    a {
      margin: 20px 0;
      display: block;
      font-size: 14px;
      color: #707070;
      text-decoration: none;
    }
  }

  .f-hello {
    margin-top: 54px;

    b {
      font-size: 16px;
      margin-bottom: 16px;
    }

    .f-h-link {
      margin-top: 36px;

      a {
        margin-right: 30px;
      }
    }
  }
  .f-cright {
    margin-top: 175px;
    padding: 50px 0;
    border-top: 1px solid #707070;
    color: #707070;

    p {
      margin: 0;
      text-align: right;
    }
  }
}

/*
        ===========================================================
                              Tablet version
        ===========================================================
*/

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .modal-container {
    img {
      display: none;
    }
  }
  .title-section {
    padding-left: 6%;
  }

  .input-change-theme {
    top: 3%;
    left: inherit;
    right: 5%;
  }

  .header {
    background-image: url("https://dl.dropboxusercontent.com/s/67odh3k79wmck7x/desktop-fondo.jpg?dl=0");
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 250px;
    text-align: left;
    position: relative;
    z-index: 10;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 250px;
      top: 0;
      background: rgb(43, 43, 43);
      background: linear-gradient(
        0deg,
        rgba(43, 43, 43, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      z-index: -100;
    }

    .h-image {
      display: none;
      padding-top: 0;
      margin: 0;
    }

    .h-text {
      position: absolute;
      bottom: 10%;
      z-index: 100;
      padding-left: 6%;

      h1 {
        font-size: 1.7rem;
      }

      p {
        font-size: 1.2rem;
        margin-top: 8px;
      }
    }

    .h-button {
      margin-top: 0;
      position: absolute;
      // top: 40px;
      top: 15%;
      z-index: 100;
      padding-left: 6%;
    }
  }

  .about {
    .panel {
      margin: 46px 6%;
      display: grid;
      grid-template-columns: initial;
      grid-template-rows: 1fr;
      border: none;
      border-left: 1px solid #ccc;

      .panel-header {
        margin-top: 0;
        padding: 10px 20px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        height: 70px;
      }

      .panel-img {
        margin-top: 0;
        grid-column: 2/3;
        grid-row: 1/3;
        height: 100%;

        img {
          height: 100%;
        }
      }

      .panel-description {
        margin: 0;
        border-bottom: 1px solid #ccc;
      }
    }
  }
  // abilities tablet
  .abilities {
    .a-container {
      padding: 0 6%;
      display: flex;
      justify-content: space-between;
      margin-top: 16px;

      .a-c-logo-react-animated {
        margin: auto 0;

        .circles {
          width: 200px;
          height: 200px;
        }

        cite {
          font-size: 10px;
        }
      }

      .abilities-list {
        margin: 0;
        display: flex;
      }
    }
  }

  // portafolio tablet
  .portafolio {
    .pf-list {
      padding: 0 6% 6%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 16px;

      .pf-item {
        margin: 30px 0 0;
        width: 48%;
      }
    }

    .pf-design {
      // padding: 0;

      &-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .pf-design-item {
          width: 48%;
        }
      }
    }
  }

  // contacto tablet
  .contacto {
    padding: 50px 6% 100px;
    .title-section {
      padding-left: 0;
    }
    .c-panel {
      display: flex;
      justify-content: space-around;
      border: 1px solid #ccc;
      background-color: #fff;

      .c-p-header {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;

        .image-circle {
          display: none;
        }

        .name-text {
          padding: 0;
          margin-bottom: 20px;

          h4 {
            font-size: 1.4rem;
            margin-bottom: 5px;
          }

          p {
            font-size: 1.1rem;
          }
        }

        .button-primary {
          display: block;
        }
      }
      .c-p-redes {
        border: none;

        .red-item {
          padding: 0;
        }
      }
    }
  }

  .footer {
    padding: 80px 6% 0;

    .f-content {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .f-name {
        margin-top: 0;
      }

      .f-hello {
        margin-top: 0;
      }
    }

    .f-cright {
      margin-top: 60px;
    }
  }
}

/*
        ===========================================================
                              Desktop version
        ===========================================================
*/

@media only screen and (min-width: 992px) {
  .input-change-theme {
    right: 4%;
    top: 8%;
  }

  // header desktop
  .header {
    height: 405px;
    &::after {
      height: 405px;
    }

    .h-text {
      bottom: 15%;
      h1 {
        font-size: 2.5rem;
      }
    }
  }

  // about desktop
  .about {
    max-width: 935px;
    margin: 50px auto;

    .title-section {
      padding: 0;
      margin-bottom: 46px;
    }

    .panel {
      margin: 0;
      border: none;
      border-radius: 4px;
      background-color: white;
      grid-template-columns: 50% 50%;
      grid-template-rows: max-content;

      .panel-header {
        border: none;
        height: 72px;
        border: 1px solid #dbdbdb;
        border-right: none;
        border-radius: 4px 0 0 0;

        .image-circle {
          width: 42px;
          height: 42px;

          img {
            width: 42px;
            height: 42px;
          }
        }

        .name-text {
          h4 {
            font-size: 14px;
          }
          p {
            font-size: 12px;
          }
        }
      }

      .panel-img {
        height: 450px;
        border-radius: 0 4px 4px 0;

        img {
          height: 450px;
          border-radius: 0 4px 4px 0;
          border: 1px solid #dbdbdb;
        }
      }

      .panel-description {
        // margin: auto;
        border: none;
        border-left: 1px solid #dbdbdb;
        border-bottom: 1px solid #dbdbdb;
        border-radius: 0 0 0 4px;

        p {
          font-size: 14px;
          letter-spacing: 0.085px;
          padding-top: 25px;
          padding-bottom: 80px;
          border-bottom: 1px solid #dbdbdb;
          line-height: 23px;
        }
      }
    }
  }

  // abilities desktop
  .abilities {
    max-width: 935px;
    margin: 50px auto 0;

    .title-section {
      padding-left: 0;
    }

    .a-container {
      padding: 0;
      justify-content: space-between;

      .a-c-logo-react-animated {
        margin: auto 0;

        .circles {
          width: 250px;
          height: 250px;
        }

        cite {
          font-size: 12px;
        }
      }

      .abilities-list {
        width: 55%;

        .group {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .item {
            margin: 0;
          }
        }
      }
    }
  }

  // portafolio desktop
  .portafolio {
    max-width: 935px;
    margin: 50px auto;
    padding: 0;

    .title-section {
      padding: 0;
    }

    .pf-list {
      padding: 0;

      .pf-item {
        width: 30%;

        .pf-item-body {
          .pf-item-title {
            font-size: 16px;
            letter-spacing: 0.1px;
          }

          .pf-item-desc {
            font-size: 14px;
          }

          .pf-item-footer {
            font-size: 12px;
          }
        }
      }
    }

    .pf-design {
      &-container {
        padding: 0;
        .pf-design-item {
          &:nth-child(3),
          &:nth-child(4) {
            max-width: 300px;
          }
        }
      }
    }
  }

  // contacto desktop
  .contacto {
    max-width: 935px;
    margin: 50px auto 100px;
    padding: 0;

    .title-section {
      padding: 0;
    }

    .c-panel {
      padding: 20px;
      border: none;
      border: 1px solid #dbdbdb;
    }
  }
}

// Darkmode
.App {
  &.darkTheme {
    background-color: $dark-color;

    .title-section {
      color: $theme-color;
    }

    .sub-title-section {
      color: $theme-color;
    }

    .about {
      color: $theme-color;
    }

    .abilities {
      background-color: #282828;
      color: $theme-color;
    }

    .portafolio {
      .pf-list {
        .pf-item {
          background-color: #282828;
          color: $theme-color;

          .pf-item-body {
            .pf-item-footer {
              .pf-item-ft-category {
                svg {
                  fill: $theme-color;
                }
              }
            }
          }
        }
      }

      .pf-design {
        &-container {
          .pf-design-item {
            &-footer {
              a {
                color: $theme-color;
              }
            }
          }
        }
      }
    }

    .contacto {
      background-color: $dark-color;
      color: $theme-color;

      .c-panel {
        background-color: #282828;

        .c-p-redes {
          .red-item {
            svg {
              path {
                fill: $theme-color;
              }
            }
            p {
              a {
                color: $theme-color;
              }
            }
          }
        }
      }
    }

    .footer {
      background-color: #23232d;
      color: white;

      .f-content {
        .f-name {
          svg {
            path:nth-child(1) {
              fill: #fff;
            }
          }
        }

        .f-hello {
          .f-h-link {
            a {
              svg {
                path {
                  fill: #fff;
                }
              }
            }
          }
        }
      }
    }

    // Darkmode desktop version
    @media only screen and (min-width: 992px) {
      .about {
        .panel {
          background-color: #282828;
        }
      }

      .abilities {
        background-color: inherit;
      }
    }
  }
}
